@import (less) "ringcaptcha.css";

@import "sidebar";
@import "headerlinks";
@import "paragraphs";

.page {
  padding-bottom: 40px;
}

.hidden-key {
  font-size: 0;
}

.hidden-key:after {
  cursor: pointer;
  content: "•••••••";
  font-size: 13px;
}
